.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: #ff4d4d;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ff6666;
  }
}